// FONT FAMILY
$font_main: 'Montserrat', sans-serif;
$font_second: 'Roboto', sans-serif;

//FONT WEIGHT
$bold: 700;
$semibold: 600;
$black: 900;
$light: 300;

// FONT SIZE
$size: 10;

// SITE WIDTH
$site-width: 1170;

// COLORS
$white01: #ffffff;
$white02: #f8f8f8;

$red01: #bb5465;
$red02: #fcf6f7;

$green01: #00c8c8;

$grey01: #989898;
$grey02: #737373;
$grey03: #8e8c8c;
$grey04: #9a9a9a;
$grey05: #777777;
$grey06: #999999;
$grey07: #e7e7e7;

$broun01: #575153;
$broun02: #333333;

$black01: #000000;
$black02: #222222;
$black03: #454647;

